*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth
}
header{
background-color:rgba(157, 190, 226, 0.836);
position:fixed;
z-index:5;
width:100%;
display:flex;
justify-content: space-between;
align-items: center;
padding:10px 200px;

}
.logo{
    text-decoration:none;
    font-size:1.8em;
    font-weight: 700;
    color:white;
    text-transform:uppercase;
    
}

.navigation a {
    color:white;
    text-decoration:none;
    font-size:1.1em;
    font-weight:500;
    padding-left:30px;
}
.navigation a:hover{
    color:purple;
}
section{
    padding:200px 200px;
}
.main{
    width:100%;
    min-height:100vh;
    display:flex;
    background:url(images/building.jpg);
    background-size:cover;
    background-attachment: fixed;
}
.main h2{
    color:white;
    font-size:1.4em;
    font-weight: 500;
    
}
.main h2 span {
    margin-top:15px;
    display:inline-block;
    color:rgb(0, 0, 0);
    font-size:3em;
    font-weight: 600;
    animation-name: example;
  animation-duration: 2s;
}
@keyframes example {
  from {color: rgb(133, 90, 4);}
  to {color: rgb(0, 0, 0);}
}
.main h3{
    color:white;
    font-size:2em;
    font-weight:500;
    letter-spacing: 1px;
    margin-top:10px;
    margin-bottom:30px;
}
.mainbutton{
    color:white;
    background-color:rgb(147, 196, 249);
    text-decoration: none;
    font-size:1.1em;
    font-weight:600;
    display:inline-block;
    padding:0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mainbutton:hover{
    background-color:rgb(71, 155, 244) ;
    transform: scale(1.1);
    transition: 0.3s ease;
}
.social-icons a{
   
   padding-top:-15px;
    color:white;
    font-size:1.7em;
    padding-right:30px;
    padding-left:10px;
}
.social-icons a:hover{
    color:rgb(71, 155, 244);
    transition: 0.2s ease;
   
}

.title{
    display:flex;
    justify-content: center;
    color:rgb(250, 172, 3);
    font-size: 2.2em;
    font-weight:800;
    margin-bottom:30px

}
.cards{
    background-color:rgb(255, 255, 255);
}
.contant{
    
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
}
.card{
   background-color: white;
    width:21.25em;
    box-shadow:0px 5px 10px rgb(150, 150, 150);
    margin:15px;
    border-radius: 10px;
    padding:25px;
}
.card:hover{
    transform:scale(1.1);
    transition: 0.5s ease ;
}
.icon{
    color:rgb(71, 155, 244);
    font-size:8em;
    text-align: center;

}
.info{
    text-align: center;
}
.info h3 {
color:rgb(71, 155, 244);
font-size:1.2em;
font-weight:700;
margin:10px;
}
.line{
position:absolute;
 background-color:pink;
 width:150px;
 height:800px;
 right:50px;
 top:718px;
 height:788px;
 overflow: hidden;

 
}

.projects{
    background-color:rgb(0, 0, 0);
   
}
.projects .contant{
    margin-top:30px;
}
.projects-card{
    background-color:rgb(255, 255, 255);
    border:1px solid white;
    min-height:14em;
    height:190px;
    width:23em;
    overflow: hidden;
    border-radius:10px;
    margin:20px;
    transition :0.5s ease;
    font-family: Arial, Helvetica, sans-serif;
}
.projects-card:hover{
    transform:scale(1.1);
}
.projects-img img{
width:23em;
height:150px;
object-fit:cover;


}
.projects-card:hover .projects-img{
   
    filter: brightness(1.04);
}
.projects-info{
    padding:1em;
}
.projects-category{
color:black;

}
.project-title{
display:flex;
justify-content: space-between;
text-transform: uppercase;
margin-top:10px;
font-weight: 800;
}
.more-details{
text-decoration: none;

}
.more-details:hover{
    color:purple;
}
.contact .icon{
    font-size:4.5em;
}
.contact .info h3{
    color:black;
}
.contact .info p{
    font-size:1.5em;
}
footer{
    background-color:rgba(157, 190, 226, 0.836);;
    color:rgb(255, 255, 255);
    padding:2em;
    display:flex;
    justify-content: space-between;
}
.footer-title{
    font-size:1.3em;
    font-weight: 600;
    
}
.footer-title span {
    color:rgb(91, 91, 245);
}
.footer .social-icons a{
    font-size:1.3em;
    padding:0 12px 0 0;
}
 @media(max-width:1023px){
    header{
        padding:12px 20px;
    }
    .navigation a{
        padding-left:10px;
    }
    .title{
        font-size:1.8em;
    }
    .section{
        padding:88px 20px;
    }
    .main h2{
        font-size:2em;
        margin-left:-100px;
    }
    .main h3{
        font-size:1.8em;
        margin-left:-100px
    }
    .main a{
        margin-left:-100px 
    }
    .contant{
        flex-direction: column;
        align-items: center;
    }
 }

 @media(max-width:641px){
    .body{
        font-size:12px;
    }
   
    .main h2{
        font-size:1.2em;
        margin-left:-100px;
    }
    .main h3{
        font-size:1.4em;
        margin-left:-100px
    }
    .main a{
        margin-left:-100px 
    }
    .projects .contant{
        margin-left:-160px;
    }
    .cards .contant {
           margin-left:-100px;
    }
    
 }
